.logo-gary {
  width: 35px;
  height: 50px;
}

header {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home-gary {
  display: block;
  margin: 0 auto;
}

img {
  height: 300px;
  width: 200px;
}

.similar-cards {
  display: grid;
  border: 2px solid black;
}

.printings {
  display: grid;
  grid-template-columns: 1fr;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
}

@media (min-width: 590px) {
  .logo-gary {
    float: left;
    width: 35px;
    height: 50px;
  }
  
  nav ul li {
    display: inline;
  }

  .similar-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .printings {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 790px) {
  .logo-gary {
    float: left;
    width: 35px;
    height: 50px;
  }
  
  nav ul li {
    display: inline;
  }

  .similar-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .printings {
    grid-template-columns: 1fr 1fr;
  }
}
